.background-gradient {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 160, 160, 0.17) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #200c39;
}

.background-products-gradient {
  background: linear-gradient(
    180deg,
    #572a90 0%,
    #8261ac 23.65%,
    #a68ec4 48.16%,
    #cdc0de 69.38%,
    #fff 100%
  );
}

.background-gradient-dev {
  background: #ddd;
  background-image: linear-gradient(
    90deg,
    #7a04a3 0%,
    #8d1079 26.84%,
    #9d1a3c 50.45%,
    #a04622 71.62%,
    #a37604 100%
  );
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
}

.background-gradient-dev2 {
  background: #ddd;
  background-image: linear-gradient(
    90deg,
    #7a04a3 0%,
    #8d1079 26.84%,
    #9d1a3c 50.45%,
    #a04622 71.62%,
    #a37604 100%
  );
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}

.dev-gradient {
  background-image: linear-gradient(
    90deg,
    #7a04a3 0%,
    #8d1079 26.84%,
    #9d1a3c 50.45%,
    #a04622 71.62%,
    #a37604 100%
  );
  background-clip: text;
  background-size: 200%;
  color: transparent;
  animation: bg-animation 1s infinite alternate;
}

.shake-dev {
  animation: shake 12s infinite alternate;
}

.shake-dev:hover {
  animation: shake 3s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.shake-animation {
  animation: shake 0.7s;
}

.number-animation {
  animation: spin-number 200ms;
}

@keyframes spin-number {
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.hand-shake {
  animation: hand 1s infinite;
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
