.background-gradient {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 160, 160, 0.17) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #200c39;
}

.background-products-gradient {
  background: linear-gradient(
    180deg,
    #572a90 0%,
    #8261ac 23.65%,
    #a68ec4 48.16%,
    #cdc0de 69.38%,
    #fff 100%
  );
}

.background-gradient-dev {
  background: #ddd;
  background-image: linear-gradient(
    90deg,
    #7a04a3 0%,
    #8d1079 26.84%,
    #9d1a3c 50.45%,
    #a04622 71.62%,
    #a37604 100%
  );
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
}

.background-gradient-dev2 {
  background: #ddd;
  background-image: linear-gradient(
    90deg,
    #7a04a3 0%,
    #8d1079 26.84%,
    #9d1a3c 50.45%,
    #a04622 71.62%,
    #a37604 100%
  );
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
