.container {
  height: 60vh;
  width: 30vw;
  perspective: 1000px;
}

.box {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;
  transform-style: preserve-3d;

  animation: rotationBox 100s linear infinite;
}

.card {
  height: 250px;
  width: 250px;
  text-align: center;
  padding: 100px 0px;
  color: white;
  background: black;
  border: 2px solid white;
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
}

#front {
  transform: translateZ(125px);
}

#back {
  transform: translateZ(-125px);
}

#left {
  right: 125px;
  transform: rotateY(-90deg);
}
#right {
  left: 125px;
  transform: rotateY(90deg);
}
#top {
  bottom: 125px;
  transform: rotateX(90deg);
}
#bottom {
  top: 125px;
  transform: rotateX(-90deg);
}

@keyframes rotationBox {
  0% {
    transform: rotateX(0deg) rotateY(15deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
